*, *::before, *::after{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "League Spartan", sans-serif;
}

body{
  background-color: black;
}

.navbar{
    display: flex;
 justify-content:space-between;
 padding-left: 3em;
 padding-right: 3em;
 position: sticky;
 padding-top: 2em;
color:#551a8b;
 padding-bottom: 5em;
 
}

.nav_menu{
    display: flex;
    list-style: none;
    gap:2em;
    margin-right: 3em;
    text-decoration: none;
    font-size: x-large;
    align-items: center;
    padding-right: 3em;
    color:#551a8b;
}

.logo{
    margin-right: 3em;
    font-size: xxx-large;
    align-items: center;
    color:white;
}

.nav_link{
text-decoration: none;

}
.nav_link_active{
  text-decoration: underline;
  text-decoration-color: #551a8b;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hero_image{
    background-image: url(./images/image4.jpeg);
padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;

min-width: 300px;

}

.hero_image2{
    background-image: url(./images/image2.jpeg);
padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;
background-position: right;

min-width: 300px;



}

.hero_image3{
  background-image: url(./images/image3.jpeg);
  padding-bottom: 30rem;
  background-repeat:no-repeat ;
  background-size: contain;
  width: 40%;
  margin-left: 3em;
  
  min-width: 300px;



}

.hero_image4{
  background-image: url(./images/image1.jpeg);
padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;
background-position: right;

min-width: 300px;



}

.hero_image5{
  background-image: url(./images/album.jpg);
padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
background-position: center;
width: 40%;
margin-left: 3em;

min-width: 300px;

}

.hero_image6{

  background-image: url(./images/image5.jpg);
  padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;

min-width: 300px;

}

.hero_image7{
  background-image: url(./images/image6.jpg);
  padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;

min-width: 300px;

}

.hero_image8{
  background-image: url(./images/image7.jpg);
  padding-bottom: 30rem;
background-repeat:no-repeat ;
background-size: contain;
width: 40%;
margin-left: 3em;

min-width: 300px;

}


.hero, .hero2, .hero3, .hero4{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    
}

.hero2{padding-top: 7em;}

.hero3{padding-top: 7em;}

.hero4{padding-top: 7em;}
.hero_header{
padding-bottom: 2rem;
font-size: xxx-large;
max-width: 40rem;
color: white;
text-align: left;
margin: auto;

}
.hero_header2{
  padding-bottom: 2rem;
  font-size: xxx-large;
  max-width: 40rem;
  color: white;
  text-align: left;
  
  
  }

.hero_text{
    color:white;
    font-size: x-large;
    max-width: 30rem;
    text-align: left;
    
}

.hero_text2{
    color:white;
    font-size: x-large;
    max-width: 30rem;
    text-align: left;
    padding-top: 2em;
  
    
}

.main{
    width: 100%;

align-content: center;

    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: pink;
    --c2: dodgerblue;
    --c3: white;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }
  





 



  
@media only screen and (max-width: 768px) {


  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
   
    
    }

  body{
   
    width:100vw;
    background-color: black;
  }

.navbar{
  
  justify-content: space-around;
  gap:2.5rem;

  
}

.hero, .hero3{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width:auto;
 ;
}

.hero2, .hero4{
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  
  width:auto;
 ;
}



.hero_image, .hero_image2, .hero_image3, .hero_image4, .hero_image5, .hero_image6, .hero_image7, .hero_image8{
width:100%;
background-size: cover;
background-position: center;
margin:0;


}



.hero_text, .hero_text2{
  
 font-size: medium;
 max-width: 20rem;
  
}

.hero_text2{
  padding-bottom: 3em;

}

.hero_header{
text-align:left;
align-self:flex-start;

font-size:xx-large;
max-width: 20rem;
padding-top: 3em;
align-self:center;

color:purple;


}

.hero_header2{
  text-align:left;
  align-self:flex-start;
 
  font-size:xx-large;
  max-width: 20rem;
  align-self:center;
  padding-top: 3em;
  color:purple;
 
  
  
  
  }






  .nav_menu {
     gap:1px;
    align-items: center;
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: black;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav_menu.active {
      left: 0;
  }

  .nav-item {
      margin: 4rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      padding-left: 2em;
     
      
      
     
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: auto;
  max-width:90%;
  border-radius: 10px;
  background: linear-gradient(rgb(249, 255, 255), rgb(219, 156, 255));
  padding: 30px 20px;

}
  

audio {
  width: 50%;
  height: 30px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  margin: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

button {
  margin: 4px;
  border: none;
  background-color: transparent;
}

button img {
  width: 50px;
  margin-bottom: -5px;
}

.buttons,
.playlist {
  margin-left: 22px;
  
}

#playlist{
  list-style: none;
  text-align: center;
}


li {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
 
}

h4 {
  margin-top: 20px;
}
.music-link{
  color:black;
}

.socials{
  display:flex;
  
  list-style: none;
  margin: auto;
  max-width: 30rem;
  
  width: 100%;
justify-content: center;

}

footer{
  justify-items: center;
  padding-bottom: 0
 
}



}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: auto;
  width: 580px;
  border-radius: 10px;
  background: linear-gradient(rgb(249, 255, 255), rgb(219, 156, 255));
  padding: 30px 20px;

}
  

audio {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  margin: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

button {
  margin: 4px;
  border: none;
  background-color: transparent;
}

button img {
  width: 50px;
  margin-bottom: -5px;
}

.buttons,
.playlist {
  margin-left: 22px;
  
}

#playlist{
  list-style: none;
  text-align: center;
}


li {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
 
}

h4 {
  margin-top: 20px;
}
.music-link{
  color:black;
}

.socials{
  display:flex;
  gap: 3em;
  list-style: none;
  margin: auto;
  max-width: 30rem;
}

footer{
  justify-items: center;
  padding-top: 7em;
}
